@model TaskSolution.Models.categoria

@{
    ViewBag.Title = "Adicionar Categoria";
}

@section cards{
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 200px; background-image: url(/Images/bg01.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-primary opacity-8"></span>
        <!-- Header container -->
    </div>
}

<div class="col-xl order-xl-1">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0 text-uppercase">
                        Adicionar Nova Categoria
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Cadastrar", "Categoria", FormMethod.Post, new { id = "formAddCategoria" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label">Nome <strong class="text-red">*</strong></label>
                                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control form-control-alternative", placeholder = "Digite o nome" } })
                                @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <input type="hidden" id="cancelado" name="cancelado" value="N" />
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-outline-default"><i class="fa fa-plus"></i> Adicionar</button>
                            <a href="/Categoria" class="btn btn-outline-default"><i class="fa fa-arrow-left"></i> Voltar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>